<%= provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p1" %>
  <em>
    <%= link_to t(".em"),"http://www.railstutorial.org/" %>
  </em>
  <%= t ".p2" %> <%= link_to t(".a1"), "http://www.railstutorial.org/book" %>
  <%= t ".p3" %> <%= link_to t(".a2"),"http://screencasts.railstutorial.org/" %>
  <%= t ".p4" %> <%= link_to t(".em"),"http://rubyonrails.org/" %> <%= t ".p5" %>
</p>
