<%= provide(:title, t(".title")) %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p1" %> <a href="http://www.railstutorial.org/"><em><%= t ".em" %></em>
  </a><%= t ".p2" %> <a href="http://www.railstutorial.org/book"><%= t ".a1" %> </a>
  <%= t ".p3" %> <a href="http://screencasts.railstutorial.org/"><%= t ".a2" %></a>
  <%= t ".p4" %> <a href="http://rubyonrails.org/"><%= t ".em" %></a>.
  <%= t ".p5" %>
</p>
