<% provide(:title, t(".title")) %>

<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p1" %> <a href="http://www.railstutorial.org/help"><%= t ".a1" %></a>.
  <%= t ".p2" %> <a href="http://www.railstutorial.org/book"><em><%= t ".em" %></em>
  <%= t ".p3" %></a>.
</p>
