<% provide :title, t(".title") %>

<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p1" %> <%= link_to t(".a1"), "http://www.railstutorial.org/help" %>.
  <%= t ".p2" %><em>
    <%= link_to t(".em"),"http://www.railstutorial.org/book" %>
  </em>
  <%= t ".p3" %></a>.
</p>
