<%= provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".h1" %></h1>
  <h2>
    <%= t ".p1" %>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    <%= t ".p2" %>
  </h2>

  <%= link_to t(".a2"), "#", class: "btn btn-lg btn-primary" %>
</div>
